body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    margin-top: 8%;
    padding: 0;
    background-image: url(fundinn.jpg); /* Adicione o caminho correto para a imagem */
    background-size: cover; /* Para que a imagem cubra toda a área do formulário */
    background-position: center; /* Para centralizar a imagem */
}

form {
    max-width: 600px;
    margin: 20px auto;
    margin-top: 2%;
    background: rgba(255, 255, 255, 0.5); /* Adicione uma cor de fundo com opacidade */
    backdrop-filter: blur(10px); /* Adicione um filtro de desfoque */
    padding: 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

h1 {
    text-align: center;
    color: #af5603;
    margin-bottom: 30px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #000000;
    transition: all 0.2s ease;
}
input[type="text"],
input[type="email"],
textarea,

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #000000;
    transition: all 0.3s ease;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #505050;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
input, textarea {
    backdrop-filter: blur(10px);
}